
:root {
  --primary-color: #333;
  --secondary-color: #4ecdc4;
  --background-color: #f7f7f7;
  --text-color: #333;
  --button-hover-color: #ff8787;
}

.logo {
  width: 270px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

body {
  vertical-align: middle;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-weight: 400;
  font-style: regular;
  padding-left: 15%;
  padding-right: 15%;
  /* box-sizing: border-box; */
}

h1 {
  font-family: 'Uncial Antiqua', cursive;
  font-size: 3em;
  color: var(--primary-color);
  margin: 20px;
  width: 75%;

}

.quiz-container {
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.history-path {
  font-size: 0.9em;
  color: #888;
  margin-bottom: 20px;
}

.question h2 {
  color: var(--primary-color);
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option-btn, .back-btn, .restart-btn {
  background-color: var(--secondary-color);
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option-btn:hover, .back-btn:hover, .restart-btn:hover {
  background-color: var(--button-hover-color);
}

.back-btn {
  margin-top: 20px;
  background-color: #ddd;
  color: var(--text-color);
}

.result-title {
  color: var(--primary-color);
  font-size: 1.8em;
  margin-bottom: 20px;
}

.result-description {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.score {
  font-weight: bold;
  margin-bottom: 20px;
}

.restart-btn {
  background-color: var(--primary-color);
}

@media (max-width: 600px) {
  .quiz-container {
    padding: 20px;
  }
}
